<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
	<Version>12.0f1</Version>
	<Cluster>
		<Name>DAQ Configuration</Name>
		<NumElts>5</NumElts>
		<I32>
			<Name>hDevice</Name>
			<Val>0</Val>
		</I32>
		<U8>
			<Name>DevNum</Name>
			<Val>0</Val>
		</U8>
		<Array>
			<Name>Configuration Parameter</Name>
			<Dimsize>9</Dimsize>
			<I32>
				<Name>lSelADClk</Name>
				<Val>0</Val>
			</I32>
			<I32>
				<Name>lChCnt</Name>
				<Val>1</Val>
			</I32>
			<I32>
				<Name>ClkDeci</Name>
				<Val>3</Val>
			</I32>
			<I32>
				<Name>TriggerMode</Name>
				<Val>2</Val>
			</I32>
			<I32>
				<Name>TriggerSource</Name>
				<Val>0</Val>
			</I32>
			<I32>
				<Name>TriggerDelay</Name>
				<Val>140000</Val>
			</I32>
			<I32>
				<Name>TriggerLength</Name>
				<Val>11264</Val>
			</I32>
			<I32>
				<Name>TriggerLevel</Name>
				<Val>2500</Val>
			</I32>
			<I32>
				<Name>lADFmt</Name>
				<Val>0</Val>
			</I32>
		</Array>
		<I32>
			<Name>READ_MAX_LEN</Name>
			<Val>1572864</Val>
		</I32>
		<Array>
			<Name>DO</Name>
			<Dimsize>8</Dimsize>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
			<Boolean>
				<Name>Boolean</Name>
				<Val>0</Val>
			</Boolean>
		</Array>
	</Cluster>
</LVData>
