<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
	<Version>12.0f1</Version>
	<Cluster>
		<Name>Table Configuration</Name>
		<NumElts>4</NumElts>
		<Cluster>
			<Name>personal_information</Name>
			<NumElts>2</NumElts>
			<String>
				<Name>Name</Name>
				<Val>personal_information</Val>
			</String>
			<Array>
				<Name>Columns</Name>
				<Dimsize>5</Dimsize>
				<String>
					<Name>Column</Name>
					<Val>Patient_ID</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>name</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>sex</Val>
					</String>
				<String>
					<Name>Column</Name>
					<Val>birthday</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>state</Val>
				</String>
			</Array>
		</Cluster>
		<Cluster>
			<Name>Measure_Bio_Type</Name>
			<NumElts>2</NumElts>
			<String>
				<Name>Name</Name>
				<Val>Measure_Bio_Type</Val>
			</String>
			<Array>
				<Name>Columns</Name>
				<Dimsize>3</Dimsize>
				<String>
					<Name>Column</Name>
					<Val>Measure_No</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Time</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Patient_ID</Val>
				</String>
			</Array>
		</Cluster>
		<Cluster>
			<Name>biometry</Name>
			<NumElts>2</NumElts>
			<String>
				<Name>Name</Name>
				<Val>biometry</Val>
			</String>
			<Array>
				<Name>Columns</Name>
				<Dimsize>33</Dimsize>
				<String>
					<Name>Column</Name>
					<Val>Measure_ID</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Measure_No</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Ordinal</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>L_Or_R</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Central_Corneal_Thickness</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>CCT_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Anterior_Chamber_Depth</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>ACD_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Len_Thickness</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>LT_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Retinal_Thickness</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>RT_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Axis_Length</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>AL_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Pupil_Diameter</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>PD_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>PCX</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>PCY</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>WTW</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>WTW_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>ICX</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>ICY</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_flat</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_steep</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_AST</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_State</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Ascan_data_Original</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>pictuer_pupil_Original</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>pictuer_WTW_Original</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Ascan_data_Processing</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>pictuer_pupil_Processing</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>pictuer_WTW_Processing</Val>
				</String>
				<String>
					<Name>Colum</Name>
					<Val>picture_Processing_ALL</Val>
				</String>
			</Array>
		</Cluster>
		<Cluster>
			<Name>biometry_Average</Name>
			<NumElts>2</NumElts>
			<String>
				<Name>Name</Name>
				<Val>biometry_Average</Val>
			</String>
			<Array>
				<Name>Columns</Name>
				<Dimsize>17</Dimsize>
				<String>
					<Name>Column</Name>
					<Val>Measure_ID</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Measure_No</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>L_Or_R</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Central_Corneal_Thickness</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Anterior_Chamber_Depth</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Len_Thickness</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Retinal_Thickness</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Axis_Length</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>Pupil_Diameter</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>PCX</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>PCY</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>WTW</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>ICX</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>ICY</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_flat</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_steep</Val>
				</String>
				<String>
					<Name>Column</Name>
					<Val>K_AST</Val>
				</String>
			</Array>
		</Cluster>
	</Cluster>
</LVData>
